apiVersion: v1
baseDomain: {{ocp_base_domain}}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    gcp:
      type: n2-standard-4
      zones:
      - europe-west2-a
      - europe-west2-b
      - europe-west2-c
      osDisk:
        diskType: pd-ssd
        diskSizeGB: 128
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    gcp:
      type: n2-standard-4
      zones:
      - europe-west2-a
      - europe-west2-b
      - europe-west2-c
      osDisk:
        diskType: pd-ssd
        diskSizeGB: 128
  replicas: 3
metadata:
  creationTimestamp: null
  name: ocp
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.128.0/17
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
publish: External
platform:
  gcp:
    projectID: {{gcp_project_id}}
    region: {{gcp_region}}
pullSecret: '{{pull_secret}}'
sshKey: '{{ssh_public_key}}'